<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JIIT_Buddy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
				<key>dateExpires</key>
				<string>14/04/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>10.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A31417E36467612D55DBD18D02FE72BED15A821D</string>
						<key>dateExpires</key>
						<string>14/04/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9V43N6T968</string>
						<key>name</key>
						<string>Anshumali Karna</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9V43N6T968.com.anshumali.JIIT-Buddy</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>9V43N6T968</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>JIIT_Buddy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30d02ba0-dc33-4090-aea5-b3c3bd2c0d75</string>
				<key>dateExpires</key>
				<string>14/04/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.anshumali.JIIT-Buddy</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9V43N6T968</string>
				<key>name</key>
				<string>Anshumali Karna</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4.4</string>
		</dict>
	</array>
</dict>
</plist>
