<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406096995253-76eiu7rf35mgg3nr88iki1ng1nfee3p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406096995253-76eiu7rf35mgg3nr88iki1ng1nfee3p0</string>
	<key>API_KEY</key>
	<string>AIzaSyCOrmUVExiLklIwENP4-vZFu5FD9B792bI</string>
	<key>GCM_SENDER_ID</key>
	<string>406096995253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshumali.JIIT-Buddy</string>
	<key>PROJECT_ID</key>
	<string>jiitbuddy-e64bb</string>
	<key>STORAGE_BUCKET</key>
	<string>jiitbuddy-e64bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406096995253:ios:9ff18c3b27a9b306f0effc</string>
</dict>
</plist>